/* Login Page Styles */
.login-container {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #e91e63;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.login-container h2 {
  color: #e91e63;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
  content: center;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e91e63;
  border-radius: 5px;
  font-size: 16px;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #e91e63;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #c2185b;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: #e91e63;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}